* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f9f9;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.conteiner {
  width: 92.22%;
}

.header-area {
  margin-top: 2.5rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-area {
  display: flex;
  gap: 2.5rem;
}

.links {
  text-decoration: none;
  font-size: medium;
  color: #303031;
}

.links:hover {
  color: #71a89e;
}

.sign-in {
  color: #71a89e;
}

.nav-area-mobile {
  display: none;
}
.menu-links-mobile {
  display: none;
}

@media (max-width: 48em) {
  .header-area {
    padding: 0 0;
    width: 82%;
  }
  .logo {
    width: 79px;
  }
  .nav-area-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
  }
  .nav-area {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .menu-links-mobile.active {
    position: absolute;
    top: 5.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0px #333;
    background-color: #f9f9f9;
    transition: all 0.3s linear;
  }
}

.main-area {
  padding: 3.1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 3em;
  font-weight: normal;
}

.paragraph {
  font-size: 1.5em;
}

.btn {
  width: max-content;
  padding: 20px 24px;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #000;
  box-shadow: 3px 3px 0px #333;
  color: #fff;
  background-color: #71a89e;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:hover {
  box-shadow: none;
}

.image {
  width: 550px;
}

@media (max-width: 80em) {
  .title {
    font-size: 2em;
  }

  .paragraph {
    font-size: 1.3em;
  }

  .image {
    width: 490px;
  }
}

@media (max-width: 48em) {
  .main-area {
    flex-direction: column-reverse;
    width: 82%;
    padding: 2.9rem 0rem;
  }

  .title {
    font-size: 1.69em;
  }

  .paragraph {
    font-size: 1em;
  }
  .image {
    width: 100%;
  }
  .btn {
    padding: 10px 24px;
    font-size: 1em;
  }
}

@media (min-width: 90em) {
  .conteiner {
    width: 83rem;
  }
}
