.title {
  font-size: 3rem;
}

.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.post-content {
  width: 56rem;
  display: flex;
  align-items: center;
}

.img-blog {
  width: 19rem;
}

.post-title {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.post-text {
  font-size: 1rem;
  text-align: justify;
}

@media (max-width: 60em) {
  .post-content {
    width: 70%;
  }
  .post-content {
    flex-direction: column;
  }
}

@media (max-width: 27em) {
  .fig-blog {
    width: 100%;
  }
  .img-blog {
    width: 100%;
  }
}
