*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
}

:root {
  --green: #7ed321;
  --dark-green: #1c4701;
  --light-green: hsla(89, 73%, 48%, 0.4);
}
