*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
}

:root {
  --green: #7ed321;
  --dark-green: #1c4701;
  --light-green: hsla(89, 73%, 48%, 0.4);
}

.header-area {
  padding: 27px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 17.5625rem;
}

.nav-area {
  display: flex;
  gap: 2.25rem;
}
.links {
  font-size: 1rem;
  text-transform: uppercase;
}

.links:hover {
  color: var(--green);
}

.inscrever-link {
  padding: 9px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 15px;
  color: var(--dark-green);
  background-color: var(--light-green);
  transition: all 0.3ms linear;
}

.inscrever-link:hover {
  background-color: var(--green);
}

form,
input,
label,
textarea {
  font-family: inherit;
}
