.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.875rem;
  padding-top: 60px;
  width: 100%;
}

.section-img {
  width: 40rem;
}

.content {
  width: 23.375rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 25px;
}

.btn {
  background-color: var(--green);
  border-radius: 15px;
  color: var(--dark-green);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 13px 50px;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: var(--dark-green);
  color: var(--green);
}

@media (max-width: 64em) {
  .content-container {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 80%;
  }
  .btn {
    font-size: 1.3rem;
    padding: 13px 60px;
  }
}

@media (max-width: 27em) {
  .section-figure {
    width: 100%;
  }
  .section-img {
    width: 100%;
  }
  .title {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.125rem;
    padding: 13px 50px;
  }
}
