.header-area {
  padding: 27px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 17.5625rem;
}

.nav-area {
  display: flex;
  gap: 2.25rem;
}

.links:hover {
  color: var(--green);
}

.inscrever-link {
  padding: 9px 32px;
  border-radius: 10px;
  color: var(--dark-green);
  background-color: var(--light-green);
  transition: all 0.3ms linear;
}

.inscrever-link:hover {
  background-color: var(--green);
}

.content-container {
  padding: 50px 50px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.875rem;
}

.section-img {
  width: 40rem;
}

.content {
  width: 30.375rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 25px;
}

.btn {
  padding: 13px 50px;
  font-size: 1.15rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--green);
  color: var(--dark-green);
  transition: all 0.3ms linear;
}
