.section-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 3rem;
}

.paragraph {
  width: 50rem;
  font-size: 1rem;
  text-align: justify;
}

.img-about {
  width: 22.125rem;
}

@media (max-width: 64em) {
  .paragraph {
    width: 90%;
  }
}

@media (max-width: 48em) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 28em) {
  .pic-about {
    width: 100%;
  }
  .img-about {
    width: 100%;
  }
}
